.container {
    width: 50%;
    max-width: 50%;
    min-width: 250px;
}

.btn.btn-default{
    color:white;
}
div#login {
    margin-left:8%;
    padding-right:10%;
    padding-left:10%;
    display: none;
    color:white;

}
div#LDAP {
    margin-left:8%;
    padding-right:10%;
    padding-left:10%;
    display: none;
    color:white;
}
#logged {
    padding-top: 2%;
    text-align: right;
    color:white;

}

h4{
    color:black;
}
th,td{
    color:black;
}
#welcome{
    margin:3%;
}
#studenttable{
    margin:3%;
}
.container {
    width: 400px;
    margin: 10px auto 50px auto;
}
.sticky-footer {
    background: #e5e5e5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    z-index: 10;
    transform: translateZ(0);
}
body {
    padding: 8em;
    width: 100%;
    height: 100%;
    background: url(https://subtlepatterns.com/patterns/folk-pattern-black.png) repeat fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
h3{
    font-weight:600;
    margin:25%;
    color:white;
}
#tableofcontentfile{
    padding-top: 3%;
}
/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 15px 50px 15px 50px;

    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--LLDAP {
    background-color:#8B0000 ;
    background-image: linear-gradient(#8B0000,#8B0000);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #8B0000;
}
.loginBtn--LLDAP:hover,
.loginBtn--LLDAP:focus {
    background-color: #8B0000;
    background-image: linear-gradient(#8B0000, #8B0000);
}
